.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--deep-green);
  margin: 0;
}

.subtitle {
  color: var(--grey);
}
