.categoriesContainer {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.categoriesTitle {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 5rem;
}
