:root {
  --terracotta: #c87858;
  --cream: #faf3e7;
  --deep-green: #2d4a3e;
  --soft-green: #a8b5a0;
  --grey: #191919;
  --balck: #0e0e0e;
  --red: #b84c4c;
  --green: #50ab50;
}

body {
  background: var(--cream);
  color: var(--black);
  font-family: var(--font-body);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}
